<%- include('includes/head.ejs') %>
<body>
    <h1>Welcome to Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium beatae recusandae assumenda laboriosam enim rerum cumque vel in accusantium voluptas. Repellat veritatis iure perferendis reiciendis consequuntur, quasi doloremque iusto fugit?</p>
    <button>Click Me</button>

    <%- include('includes/footer.ejs') %>
</body>
</html>