<%- include('includes/head.ejs') %>
<body>
    <h1>Dice value : <%= rolldice %></h1>
    <% if (rolldice == 6) { %>
       <h3>Nice !! Role Dice again</h3> 
    <%} %>

    <%- include('includes/footer.ejs') %>
</body>
</html>